* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #A7C957;
}
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #A7C957, #6A994E);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth-left-content {
  text-align: left;
  max-width: 300px;
}

.auth-left h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.auth-left p {
  margin-bottom: 20px;
}

.login-btn {
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.auth-right {
  flex: 1;
  background: #F2E8CF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  background: white;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #6A994E;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-btn {
  padding: 12px;
  background: #6A994E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover, .login-btn:hover {
  background: #386641;
}

.form-row {
  display: flex;
  gap: 1rem;
}
.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

}


@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .auth-left {
    padding: 3rem 2rem;
    min-height: 250px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-card {
    width: 100%;
    max-width: 100%;
  }
}