:root {
   --hunter-green: #386641;
  --sage-green: #6A994E;
  --yellow-green: #A7C957;
  --vanilla-cream: #F2E8CF;
  --blushed-brick: #BC4749;
  
  --text-dark: #2d2d2d;
  --text-light: #ffffff;
  --bg-white: #ffffff;
}